@using BLL.Models
@{
    ViewData["Title"] = "Home Page";

    string title = AppSettings.Title;
    string desc = AppSettings.Description;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @title</h1>
    <p>@desc</p>
</div>